$yellow: #F4E041;
$blue: #00BDD3;
$light-gray: #F8F8F8;
$border-gray: #D0CFCF;
$text-gray: #7E7E7E;
$disable-gray: #B4B4B4;
$yellow-hover: #FFE302;
$white-87: rgba(255, 255, 255, 0.87);
$black-87: rgba(0, 0, 0, 0.87);
$error: #CB3D40;

